@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
:root {
  --var-back: rgb(255, 255, 255);
}
.container {
  height: 100vh;
}

.row {
  height: 100%;
}

body {
  background-color: var(--var-back) !important;
  transition: background-color 1s ease, color 0.2s linear; 
}

.btn_for_background {
  background-color: var(--var-back) !important;
  transition: background-color 1s ease, color 0.2s linear; 
}

.btn-primary:hover {
  border-color: var(--var-back) !important;
}

.btn-primary {
  border-color: var(--var-back) !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--var-back) !important;
}

.conteiner-soc {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.btn_for_background_link {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--var-back) !important;
}